body {
  margin: 0;
  font-family: -apple-system, "Proxima Nova", BlinkMacSystemFont, Roboto,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(50 47 47);
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
